.git
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.log
coverage.xml
.coverage
.pytest_cache/
tests/
README.md
pyproject.toml
uv.lock
.pre-commit-config.yaml
.python-version